<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Pg Blog | </title>
</head>
<body>
    <div>
        <nav class="w-100 position-fixed navbar text-bg-dark" style="z-index: 1;">
            <div class="container-fluid">
                <div class="navbar">
                    <a class="nav-link me-3" aria-current="page" href="/pages/posts">Página inicial</a>
                    <a class="nav-link me-3" href="/pages/myprofile">Meu perfil</a>
                    <a class="nav-link me-3" href="/pages/post/new">Novo post</a>
                    <a class="nav-link" href="/pages/signin">Sign in</a>
                </div>
            </div>
        </nav>
        <div class="d-flex align-items-center px-3 mb-3 mx-auto" style="padding-top: 100px; max-width: 700px;">
            <img id="picture" height="50" class="rounded me-2" src="" alt="user picture" referrerpolicy="no-referrer">
            <h2 id="name"></h2>
        </div>
        <div id="posts" class="pt-5 px-3 mx-auto" style="max-width: 700px;">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script type="module">
        import { findPostsByAuthor, renderPostCards, deletePostById } from '/static/post/script.js'
        import { refreshToken } from '/static/auth/script.js'

        (async () => {
            refreshToken()

            const user = JSON.parse(localStorage.getItem('user'))
            const posts = await findPostsByAuthor(user.id)
            const postsContainer = document.getElementById('posts')

            renderPostCards(postsContainer, posts, {
                actions: [
                    (post) => `
                        <a class="btn btn-primary" href="/post/update/${post.id}">Editar</a>
                    `,
                    (post) => `
                        <button id="post-delete-button-${post.id}" class="btn btn-danger">Deletar</button>
                    `,
                ]
            })

            posts.forEach((post) => {
                document.getElementById(`post-delete-button-${post.id}`).onclick = async (event) => {
                    await deletePostById(post.id)

                    const postCard = document.getElementById(`post-${post.id}`)
                    postCard.remove()
                }
            })

            const picture = document.getElementById('picture')
            picture.src = user.picture
            const name = document.getElementById('name')
            name.innerHTML = user.name
            const title = document.getElementsByTagName('title')[0]
            title.innerHTML += user.name
        })()
    </script>
</body>
</html>